{{bootstrap.load_css()}}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<style>
    h1 { color: rgba(255, 145, 0, 0.418);}
    body{
        background-color: rgb(11, 48, 63); 
    }
</style>

<body>
    <div class="container">
        <h1>{{attr['title']}}</h1>
    <img src="/static/images/{{attr['id']}}.jpg" alt="first_image" height="400vh" width="700vh">
    <p>
        <br> <a href="{{url_for('page4func')}}"> Back to Night Skies section</a>
    </p>
    </div>
    
</body>

</html> 