{{bootstrap.load_css()}}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<style>
    body{
        background-color: rgb(144, 238, 144);
    }
</style>

<body>
    <div class="container">
        <br>
        <h1>{{attr['title']}}</h1>
    <img src="/static/images/{{attr['id']}}.jpg" alt="thirdim" height="500vh" width="900vh">
    <p>
        <br> <a href="{{url_for('page3func')}}"> Back to Nature section</a>
    </p>
    </div>
</body>

</html> 